@import "tailwindcss";

@theme {
  --color-call-action: #3CB3AB;
  --color-call-action-hover: #147A73;
  --color-txt: #7A7A7A;
  --color-title: #000;
  --color-border: #F0F0F0;
  --color-inactive: #2F2F2F;
  --color-background: #FAFAFA;
  --color-gray-50: #F5F5F5;
  --color-gray-100: #B1B1B1;
  --color-gray-200: #929292;
  --color-gray-300: #444444;

  --font-comissioner: 'Commissioner', sans-serif;

  --breakpoint-xs: '420px',

}


body, html {
  background-color: var(--color-background);
}